# ITCS 3162: Python Tutorial

This notebook provides an introduction to basic programming in Python.

Python is:
- Object-oriented
- Dynamically typed
- White space dependent

Fun fact: Python is named after Monty Python and not the reptile
***
The latest Python version is **3.9.6**

Python is available to download at: [Download](https://www.python.org/downloads/)  
Documentation is available here: [Documentation](https://docs.python.org/3/)

We will mostly use Jupyter notebooks throughout this course.
You may use whichever IDE you prefer. I suggest
- [PyCharm](https://www.jetbrains.com/pycharm/) by JetBrains. *Note*: You need a Pro licence for Jupyter notebooks, available for free with an edu email address
- [VSCode](https://code.visualstudio.com/) by Microsoft
- [Anaconda](https://www.anaconda.com/products/individual) by Anaconda
***
## Topics:
1. Variables and basic operations
2. More data structures  
    2.1 Lists  
    2.2 Tuples  
    2.3 Dictionaries  
    2.4 Sets  
2. Control flow statements  
    3.1 If, elif, and else statements  
    3.2 For and while loops  
    3.3 Error handling
4. Defining functions
5. Defining object classes
6. User input and file reading/writing

## Variables and basic operations

In [1]:
my_string = 'hello world'
my_int = 2021
my_float = 101.234
my_bool = True
my_null = None

In [2]:
my_string

'hello world'

In [3]:
print(my_string)

hello world

### Importing modules/libraries

In [4]:
import math
import re
import statistics as stats

In [5]:
from random import shuffle, randint, choices

In [6]:
randint(0, 10)

6

In [7]:
rand_nums = choices(range(10), k=5)

In [8]:
rand_nums

[2, 0, 5, 5, 6]

In [9]:
stats.median(rand_nums)

5

In [10]:
print(max(rand_nums))
print(min(rand_nums))
print(sum(rand_nums))

6
0
18

### Format string (f-strings)

In [11]:
print(f'The current year is {my_int}')

The current year is 2021

In [12]:
my_float = 1/3
print(f'Rounded number: {my_float:.3f}')
print(f'Leading zeros: {my_int:05d}')
print(f'Both: {my_float:07.3f}')

Rounded number: 0.333
Leading zeros: 02021
Both: 000.333

### Arithmetic operations

In [13]:
print(5 + 3)  # Addition
print(5 - 3)  # Subtraction
print(5 * 3)  # Multiplication
print(5 / 3)  # Floating point division
print(5 // 3) # Floor (integer) division
print(5 ** 3) # Exponentiation
print(5 % 3)  # Modulus (remainder)

8
2
15
1.6666666666666667
1
125
2

## More data structures: Collections

### Lists

*Ordered* and *mutable* and *indexed*

In [14]:
fruits = ['apple', 'banana', 'orange', 'peach', 'watermelon']

In [15]:
fruits

['apple', 'banana', 'orange', 'peach', 'watermelon']

In [16]:
len(fruits)

5

In [17]:
fruits[0]

'apple'

In [18]:
fruits[1][0]

'b'

In [19]:
fruits[-1]

'watermelon'

#### Slicing lists

[start : stop : step]  
*Inclusive* of start. *Exclusive* of stop

In [20]:
fruits[3:]

['peach', 'watermelon']

In [21]:
fruits[::2]

['apple', 'orange', 'watermelon']

In [22]:
fruits[::-1]

['watermelon', 'peach', 'orange', 'banana', 'apple']

***

In [23]:
nums = list(range(5))

In [24]:
nums

[0, 1, 2, 3, 4]

In [25]:
shuffle(nums)

In [26]:
nums

[2, 4, 3, 1, 0]

In [27]:
nums.sort()

In [28]:
nums

[0, 1, 2, 3, 4]

In [29]:
shuffle(nums)
sorted_nums = sorted(nums, reverse=True)

In [30]:
print(f'Orig nums: {nums}')
print(f'Sorted nums: {sorted_nums}')

Orig nums: [1, 3, 0, 4, 2]
Sorted nums: [4, 3, 2, 1, 0]

In [31]:
nums.append(25)

In [32]:
nums

[1, 3, 0, 4, 2, 25]

In [33]:
nums.insert(1, 15)

In [34]:
nums

[1, 15, 3, 0, 4, 2, 25]

In [35]:
del nums[1]

In [36]:
nums

[1, 3, 0, 4, 2, 25]

### Tuples

*Ordered* and *immutable* and *indexed*

In [37]:
my_tuple = (2, 'fifteen', True)

In [38]:
my_tuple

(2, 'fifteen', True)

In [39]:
my_tuple[0]

2

### Dictionaries

*Unordered* and *mutable* and *unindexed*

In [40]:
my_dict = {
    'name': 'Josh Melton',
    'school': 'UNC Charlotte',
    'year': 2021,
    'is_student': True,
    (0, 'alpha'): {
        1: 'Test',
        2: 2
    }
}

In [41]:
my_dict

{'name': 'Josh Melton',
 'school': 'UNC Charlotte',
 'year': 2021,
 'is_student': True,
 (0, 'alpha'): {1: 'Test', 2: 2}}

In [42]:
my_dict['name']

'Josh Melton'

In [43]:
my_dict.get('name')

'Josh Melton'

In [44]:
my_dict['foobar']

KeyError: 'foobar'

In [45]:
my_dict.get('foobar', -1)

-1

In [46]:
my_dict.items()

dict_items([('name', 'Josh Melton'), ('school', 'UNC Charlotte'), ('year', 2021), ('is_student', True), ((0, 'alpha'), {1: 'Test', 2: 2})])

In [47]:
my_dict.keys()

dict_keys(['name', 'school', 'year', 'is_student', (0, 'alpha')])

In [48]:
my_dict.values()

dict_values(['Josh Melton', 'UNC Charlotte', 2021, True, {1: 'Test', 2: 2}])

### Sets

*Unordered* and *mutable* and *unindexed*

In [49]:
my_set = {1, 2, 4, 4, 4, 4, 6, 7, 3}

In [50]:
my_set

{1, 2, 3, 4, 6, 7}

In [51]:
my_set.add(15)

In [52]:
my_set

{1, 2, 3, 4, 6, 7, 15}

In [53]:
my_set.remove(4)

In [54]:
my_set

{1, 2, 3, 6, 7, 15}

In [55]:
my_set2 = set(range(5, 20, 2))

In [56]:
my_set2

{5, 7, 9, 11, 13, 15, 17, 19}

In [57]:
print(my_set.intersection(my_set2))
print(my_set & my_set2)

{15, 7}
{15, 7}

In [58]:
print(my_set.union(my_set2))
print(my_set | my_set2)

{1, 2, 3, 5, 6, 7, 9, 11, 13, 15, 17, 19}
{1, 2, 3, 5, 6, 7, 9, 11, 13, 15, 17, 19}

## Control flow

### Boolean logic

In [59]:
tmp = 'hello'

In [60]:
tmp == 'hello'

True

In [61]:
tmp != 'hello'

False

In [62]:
'll' in tmp

True

In [63]:
'z' not in tmp

True

In [64]:
'z' not in tmp and 'a' in tmp

False

In [65]:
'z' not in tmp or 'a' in tmp

True

In [66]:
test_num = 50

if test_num < 5:
    print('less than 5')
elif test_num < 10:
    print('between 5 and 10')
elif test_num <= 100:
    print('between 10 and 100 (inclusive)')
else:
    print('Big number (or negative)')

between 10 and 100 (inclusive)

### Loops

In [67]:
for num in my_set:
    print(num)
    
    if num % 2 == 0:
        break

1
2

In [68]:
for num in my_set:
    if num % 2 == 0:
        continue
    print(num)

1
3
7
15

In [69]:
evens, odds = [], []
for num in my_set:
    if num % 2 == 0:
        evens.append(num)
    else:
        odds.append(num)

In [70]:
print(evens)
print(odds)

[2, 6]
[1, 3, 7, 15]

In [71]:
for k, v in my_dict.items():
    print(f'key: {k}    value: {v}')

key: name    value: Josh Melton
key: school    value: UNC Charlotte
key: year    value: 2021
key: is_student    value: True
key: (0, 'alpha')    value: {1: 'Test', 2: 2}

In [72]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

### List Comprehensions

In [73]:
nums = list(range(5))
nums_squared = [n**2 for n in nums]

In [74]:
nums_squared

[0, 1, 4, 9, 16]

Advanced comprehensions with if/else conditions

In [75]:
filtered_squares = [
    square
    for square in nums_squared
    if square % 2 == 0
]

In [76]:
filtered_squares

[0, 4, 16]

In [77]:
filtered_v2 = [
    square if square % 2 == 0
    else 'odd number'
    for square in nums_squared
]

In [78]:
filtered_v2

[0, 'odd number', 4, 'odd number', 16]

### Dictionary comprehensions

In [79]:
key_list = [1, 2, 3, 4]
value_list = ['one', 'two', 'three', 'four']

In [80]:
my_dict_comp = {
    k: v for k, v in zip(key_list, value_list)
}

In [81]:
my_dict_comp

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [82]:
my_dict_func = dict(zip(key_list, value_list))

In [83]:
my_dict_func

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

### Error Handling

In [84]:
try:
    tmp = my_dict['foobar']
except KeyError:
    print('Key not in the dictionary!')
except NameError:
    print('dict does not exist')
finally:
    print('Done!')

Key not in the dictionary!
Done!

## Defining functions

In [85]:
def my_func(a, b, c=1, do_add=True):
    if do_add:
        return a + b + c
    else:
        return a - b - c

In [86]:
num1 = 2
num2 = 3
num3 = 5
do_add = False

In [87]:
my_func(num1, num2)

6

In [88]:
my_func(num1, num2, do_add=do_add)

-2

In [89]:
def placeholder():
    pass

# Defining object classes

In [90]:
class Dataset:
    def __init__(self, data, labels=None):
        self.data = data
        self.labels = labels
    
    def __len__(self):
        return len(self.labels)
    
    def __repr__(self):
        return f'Data = {data}\nLabels = {labels}'
    
    def multiply_data(self, num=1):
        return [
            [el * num for el in row]
            for row in self.data
        ]

In [91]:
data = [
    [0, 1, 0, 1],
    [1, 0, 0, 1],
    [0, 1, 1, 0],
]
labels = [0, 0, 0, 1]

In [92]:
my_dataset = Dataset(data, labels)

In [93]:
my_dataset

Data = [[0, 1, 0, 1], [1, 0, 0, 1], [0, 1, 1, 0]]
Labels = [0, 0, 0, 1]

In [94]:
my_dataset.multiply_data(2)

[[0, 2, 0, 2], [2, 0, 0, 2], [0, 2, 2, 0]]

In [95]:
my_dataset.data

[[0, 1, 0, 1], [1, 0, 0, 1], [0, 1, 1, 0]]

## User input

In [96]:
user_entry = input('Enter your favorite number:')

Enter your favorite number:22

In [97]:
print(user_entry)

22

In [98]:
print(type(user_entry))

<class 'str'>

In [99]:
try:
    user_entry = int(input('Enter your favorite number:'))
except ValueError:
    print('Bad entry')

Enter your favorite number:a
Bad entry

## Reading and writing files

In [100]:
with open('dummy_text.txt') as f:
    tmp = f.readlines()

In [101]:
tmp

['The\n',
 'quick\n',
 'brown\n',
 'fox\n',
 'jumps\n',
 'over\n',
 'the\n',
 'lazy\n',
 'dog\n']

In [102]:
with open('dummy_text.txt') as f:
    tmp = [line.strip() for line in f]

In [103]:
tmp

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [104]:
' '.join(tmp)

'The quick brown fox jumps over the lazy dog'

In [105]:
with open('dummy_text.txt') as f:
    tmp = ' '.join(word.strip() for word in f)

In [106]:
tmp

'The quick brown fox jumps over the lazy dog'

In [107]:
sentence = 'Today is Friday the 26th of August'

In [108]:
with open('output_text.txt', 'w') as f_out:
    for i, word in enumerate(sentence.split()):
        f_out.write(f'{i:02d}: {word}\n')

In [109]:
with open('output_text.txt', 'w') as f:
    f.write(
        '\n'.join(sentence.split())
    )

In [110]:
with open('output_text.txt', 'a') as f:
    for word in sentence.split()[::-1]:
        f.write(f'{word}\n')

In [111]:
import json

with open('dummy_json.json') as f:
    data_dict = json.load(f)

In [112]:
data_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}